/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require '~bootstrap/dist/css/bootstrap.css'
@require '~bootstrap-vue/dist/bootstrap-vue.css'

.home .hero img
  max-width 450px!important

// TODO: custom style for images depending on page
img
  background-color #fff
  border 1px solid #ddd
  border-radius 1em
  margin-left 2em
  padding 0.5em
  width: 50%
  // max-height: 600px;
  // TODO: wrap images in container to set max height but keep aspect ratio
  // https://stackoverflow.com/questions/3751565/css-100-width-or-height-while-keeping-aspect-ratio