/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

// TODO: custom style for images depending on page
img
  border 1px solid #ddd
  border-radius 1em
  margin-left 2em
  padding 0.5em
  width: 50%